<div class="container" data-aos="fade-up" #Gestion>
  <h2>Gestion de Usuarios</h2>
  <div  class="mat-elevation-z8" style="background:white;margin:0 auto;height: 80px;">
    <div class="example-container " style="font-size:16px"  appearance="fill">
      <mat-form-field class="example-full-width"appearance="fill" style="width: 60%;float: left; margin: 10px;">
        <mat-label>Buscar a un usuario</mat-label>

        <input type="search"     matInput placeholder="Ingrese una Palabra"    (keyup) ="applyFilter($event)"  required>
        <mat-icon matPrefix>search</mat-icon>


    </mat-form-field>

    <!--  <button class="btn btn-primary" style="float:right;margin-top: 25px;"> <mat-icon style="vertical-align:middle;">add</mat-icon>Registrar usuario</button>
    -->
      <br>
    <br>
    </div>

  </div>

<div  *ngIf="flag" >
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3" >

    <ng-container matColumnDef="ID_Usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let items">{{items.ID_Usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="urlImg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> IMG </th>
      <td mat-cell *matCellDef="let items"><img src="{{items.Foto_Perfil}}" class="roundedImage"></td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Usuario </th>
      <td mat-cell *matCellDef="let items">{{items.Nombre_Usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="Correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
      <td mat-cell *matCellDef="let items">{{items.Correo}}</td>
    </ng-container>

   <!-- <ng-container matColumnDef="Fecha_Nacimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha_Nac </th>
      <td mat-cell *matCellDef="let items">{{items.Fecha_Nacimiento}}</td>
    </ng-container>
-->
    <ng-container matColumnDef="ID_Rol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
      <td mat-cell *matCellDef="let items">{{items.Rol}}</td>
    </ng-container>

    <ng-container matColumnDef="Estatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
      <td mat-cell *matCellDef="let items">{{items.Estatus}}</td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
  <td mat-cell *matCellDef="let items"><button class="btn btn-warning"(click)="ChStatus(items)">Cambiar estatus<mat-icon>thumbs_up_down</mat-icon></button></td>
    </ng-container>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        No hay Datos
      </td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator   [pageSizeOptions]="[5,10, 20,40]" showFirstLastButtons #paginator ></mat-paginator>
</div>

</div>
