.main_header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.5rem 13rem 0.5rem 13rem;

    font-size: 1rem;
    color: var(--default-font-color);
    border-bottom: 1px solid #76777f;
}

.header_link {

    text-decoration: none;
    color: var(--default-font-color);
    cursor: pointer;

}

.header_link:hover{
    font-weight: bold;
}

.link_active {
    font-weight: bold; 
}

.content {
    
    margin-top: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #1d1f29;
    padding: 0.5rem;
    border-radius: 1rem;

}

.content:hover {

    background-color: #303240;

}

.post{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.post_img_container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.time-slider{
    padding: 0;
}

.post_img_container img {

    width: 12vh;
    height: 15vh;
    border-radius: 1rem;

    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.post_img_container:hover img {
    opacity: 0.3;
}

.post_img_container:hover .post_player{

    opacity: 1;

}

.post_player {

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.post_btn_player {

    background: none;
    color: var(--secundary-color);
    border: none;

    font-size: 2.5rem;

}

.post_info{
    display: flex;
    flex-direction: column;
    color: var(--default-font-color);
    width: 100%;
}

.btns_post{

    display: flex;
    gap: 10px;
    margin-left: auto;
}

.post_btn{

    background: none;
    color: var(--secundary-color);
    border: none;

    font-size: 1.5rem;
    text-align: center;

    display: flex;
    flex-direction: row;
    gap: 10px;

}

.post_btn p{
    font-size: 1.2rem;
}

.add_playlist:hover {
    color:greenyellow;
}

.Nombre {

    font-weight: bolder;
    margin: 0;

}

.Categoria{

    margin: 0;

}

.user_info{

    display: flex;
    flex-direction: column;
    color: var(--default-font-color);
    border-right: 1px solid var(--default-font-color);

    padding-left: 0.3rem;
    padding-right: 1rem;

    margin-top: auto;
    margin-bottom: auto;

}

.user_info h2 {
    margin-left: auto;
    margin-right: auto;
}

.user_info img {

    border-radius: 50%;
    width: 10vh;
    height: 10vh;

}