<div class="main">

    <div class="main_header">
        <a  [ngClass]=" feed  ? 'link_active' : '' " (click) = "changeFeed()" class="header_link "> RECOMENDADOS </a>
        <a [ngClass]=" !feed  ? 'link_active' : '' " (click) = "changeFeed()" class="header_link"> AMIGOS </a>
    </div>
    
    <div class="content" *ngFor="let post of feed_posts">

        <div class="post" >

            <div class="user_info" (click)=" ShowProfile( post.ID_Usuario ) ">
                <img [src] = " post.Foto_Perfil ">
                <h2 class="Nombre"> {{ post.Nombre_Usuario }} </h2>
            </div>

            <div class="post_img_container">
                <img [src] = " post.Img_Path ">
                        
                <div class="post_player">
                    <button class="post_btn_player" (click)="playStream( post.Music_Path )" *ngIf="!state"> <i class="bi bi-play-circle"></i> </button>
                    <button class="post_btn_player" (click)="pause()" *ngIf="state"> <i class="bi bi-pause-circle"></i> </button>
                </div>
        
            </div>
    
            <div class="post_info">
                <div class="music_info">
                    <h1 class="Nombre">  {{ post.Nombre }} </h1>
                    <h3 class="Descripcion"> {{ post.Nombre_cat }}  </h3>
                </div>
    
                <p class="commentario">  {{ post.Comentario }}  </p>
    
                <div class="btns_post">
                    <button class="post_btn" *ngIf="!isReacted( post.ID_Post )"> <p>  {{ post.Reacciones }}  </p> <i class="bi bi-heart"></i> </button>
                    <button class="post_btn" *ngIf="isReacted( post.ID_Post )"> <p> {{ post.Reacciones }} </p> <i class="bi bi-heart-fill"></i> </button>
                    <button class="post_btn"> <i class="bi bi-chat-right"></i> </button>
                    <button type="button" class="post_btn add_playlist"  [matMenuTriggerFor]="menu"> <i class="bi bi-bookmark-plus-fill"></i> </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngFor="let playlist of user_playlists " (click)="addPlayList( playlist.ID_Album, post.ID_Musica )">  {{ playlist.Nombre_Album }}  </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    
    </div>

</div>

