<div class="main_cont">

    <div class="root-cont-left">
        <div class="icons-menu active">
            <div class="icons">
                <i class="fa-solid fa-house"></i>
                <p class="manu-text"> Inicio </p>
            </div>
        </div>
        <div class="icons-menu">
            <div class="icons">
                <i class="fa-solid fa-house"></i>
                <p class="manu-text"> Inicio </p>
            </div>
        </div>
        <div class="icons-menu">
            <div class="icons">
                <i class="fa-solid fa-house"></i>
                <p class="manu-text"> Inicio </p>
            </div>
        </div>
        <div class="icons-menu">
            <div class="icons">
                <i class="fa-solid fa-house"></i>
                <p class="manu-text"> Inicio </p>
            </div>
        </div>
        <div class="icons-menu">
            <div class="icons">
                <i class="fa-solid fa-house"></i>
                <p class="manu-text"> Inicio </p>
            </div>
        </div>

    </div>
    <div class="root-cont-right">
        <p>asdasd</p>
    </div>

</div>
