<div class="main_cont">

    <div class="root-cont-left">

        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <i class="fa-solid fa-house bi pe-none me-2"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>

        <hr>

        <div>
            <p>PLAY LIST AQUI? MEABY?</p>
        </div>


    </div>
    <div class="root-cont-right">
        <p>PLAY LIST AQUI? MEABY?</p>
    </div>

</div>
