<!-- HEADER DE LA PAGINA -->
<div class="nav">

    <div class="header_left">
      <a routerLink="/inicio" style="text-decoration:none;"><h3 style="margin-top: 20px" class="title"> SoundClon </h3></a>
    </div>

    <div  class="header_main" >
    <!--  <div class="search-bar" *ngIf="loggedin()">
        <input type="text" placeholder="Search post or user" autocomplete="off" class="search-bar-tipe">
        <i class="fa-solid fa-magnifying-glass icon"></i>
      </div>
      -->
    </div>

    <div *ngIf="loggedin()" class="header_right">

        <div class="div_icon" data-bs-toggle="modal" data-bs-target="#newPost">
          <i class="fa-solid fa-pen"></i>
        </div>

        <!-- MENU DE USUARIO -->
        <button class="account_icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="avatar_img"[src]="imgurl" lazy="loaded">
        </button>

        <ul class="dropdown-menu dropdown-menu-dark">
          <li>
            <a style="cursor:pointer" class="dropdown-item" (click)="showProfile()">
              <i class="bi bi-person-fill"></i>
              Ver Perfil
            </a>
          </li>
          <li>
            <a style="cursor:pointer" class="dropdown-item" routerLink="/CambioPassword">
              <i class="fa-solid fa-key"></i>
              Cambiar contraseña
            </a>
          </li>
          <li>
            <a style="cursor:pointer" class="dropdown-item" routerLink="/editarperfil">
              <i class="fa-solid fa-list"></i>
              Editar perfil
            </a>
          </li>
          <li>
            <a style="cursor:pointer" class="dropdown-item" (click)="onLogOut()">
              <i class="fa-solid fa-right-from-bracket"></i>
              Cerrar sesión
            </a>
          </li>
          <li *ngIf="isadmin">
            <hr>
            <b style="margin-left:15px;">ADMINISTRADOR</b>
            <a class="dropdown-item" routerLink="/GestionUsuarios">
              <i class="fa-solid fa-right-from-bracket"></i>
              Control de usuarios
            </a>
          </li>
          <li *ngIf="isadmin">
            <a class="dropdown-item" routerLink="/GestionCategorias">
              <i class="fa-solid fa-right-from-bracket"></i>
              Control de categorías
            </a>
          </li>
          <li *ngIf="isadmin">
            <a class="dropdown-item" routerLink="/GestionPosts">
              <i class="fa-solid fa-right-from-bracket"></i>
              Control de publicaciones
            </a>
          </li>
        </ul>
        <!-- MENU DE USUARIO -->

    </div>
<!--*-->
    <div  class="header_rigth" *ngIf="!loggedin()">
      <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#signUpModal">  Registrate </button>
      <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal">  Inicio de sesión </button>

    </div>

</div>



<main class="root-content">

  <!-- LOGIN MODAL -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
    <login></login>
  </div>

  <!-- SIGNUP MODAL -->
  <div class="modal fade" id="signUpModal" tabindex="-1" aria-hidden="true">
    <sign-up></sign-up>
  </div>

  <div class="modal fade modal-lg" id="newPost" tabindex="-1" aria-hidden="true">
    <music></music>
  </div>

  <router-outlet></router-outlet>
</main>
