<!-- HEADER DE LA PAGINA -->
<div class="nav">

    <div class="header_left">
      <h3 class="title"> SoundClon </h3>
    </div>

    <div class="header_main">
      <div class="search-bar">
        <input type="text" placeholder="Search post or user" autocomplete="off" class="search-bar-tipe">
        <i class="fa-solid fa-magnifying-glass icon"></i>
      </div>
    </div>

    <div *ngIf="loggedin()" class="header_right">

        <div class="div_icon">
          <i class="fa-solid fa-pen"></i>
        </div>

        <!-- MENU DE USUARIO -->
        <button class="account_icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="avatar_img" src="../assets{{this.datosUser.data.Foto_Perfil}}" lazy="loaded">
        </button>

        <ul class="dropdown-menu dropdown-menu-dark">
          <li>
            <a class="dropdown-item" href="/CambioPassword">
              <i class="fa-solid fa-key"></i>
              Cambiar contraseña
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/editarperfil">
              <i class="fa-solid fa-list"></i>
              Editar perfil
            </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="onLogOut()"href="/">
              <i class="fa-solid fa-right-from-bracket"></i>
              Cerrar sesión
            </a>
          </li>
        </ul>
        <!-- MENU DE USUARIO -->

    </div>

    <div *ngIf="!loggedin()" class="header_rigth">
      <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#signUpModal">  SignUp </button>
      <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal">  Login </button>
    </div>

</div>



<main class="root-content">

  <!-- LOGIN MODAL -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
    <login></login>
  </div>

  <!-- SIGNUP MODAL -->
  <div class="modal fade" id="signUpModal" tabindex="-1" aria-hidden="true">
    <sign-up></sign-up>
  </div>


  <router-outlet></router-outlet>
</main>
