<!-- HEADER DE LA PAGINA -->
<div class="nav">

    <div class="header_left">
      <h3 class="title"> Music Twitter </h3>
    </div>

    <div class="header_main">
      <div class="search-bar">
        <input type="text" placeholder="Search post or user" autocomplete="off" class="search-bar-tipe">
        <i class="fa-solid fa-magnifying-glass icon"></i>
      </div>
    </div>

    <div class="header_right">

        <div class="div_icon">
          <i class="fa-solid fa-pen"></i>
        </div>

        <div class="notification">
          <span data-count="65" class="noti_num" ></span>
          <div class="div_icon">
            <i class="fa-solid fa-bell"></i>
          </div>
        </div>


        <div class="account_icon">
          <img class="avatar_img" src="https://preview.redd.it/fjuxydxgk3l61.png?width=504&format=png&auto=webp&s=ac5b6a3481fda46bbc117773c4cdc2f4e4e51098" lazy="loaded">
        </div>
    </div>

</div>

<div class="root-content">
  <router-outlet></router-outlet>
</div>
