/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap" rel="stylesheet');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root{
    --main-color: #1b1d2a;
    --secundary-color: #9a32ef;
    --default-font-color: rgba(255, 255, 255, 0.85);
    --border-color: #3c3f50;
    --back-color: #343746;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    background-color: var(--back-color) !important;
    height: -webkit-fill-available;
    overflow: hidden;
}

.nav-link{
    color: #9a32ef !important;
}

.active{
    color: var(--bs-nav-pills-link-active-color) !important;
    background-color: #9a32ef !important;
}

.disabled{
    color: #6c757d !important;
}