<div class="container">

    <div>
        <i class="bi bi-vinyl-fill"></i>
        <i class="bi bi-music-note logo"></i>
    </div>

    <div class="info">
        <h1 class="titulo">  <span> ÚNETE </span>  A LA GRAN COMUNIDAD DE SOUNDCLON  </h1>
        <h2 class="slogan"> Disfruta de la mejor red social para compartir tu propia <span> musica </span> con tus amigos y crea tu propia comunidad con la cual transmitir tu arte... </h2>
        
        <footer class="pie">Página creada por Sánchez López Axel Osbaldo y Armenta Rodríguez Christian, S.A. de C.V. 2022</footer>

    </div>


</div>
