<div class="form-group">

  <form style="border-radius: 10px;"class="example-form" data-aos="fade-up" aria-required="true" [formGroup]="frmDatos" >
    <div class="example-container__centrado">

      <h1 style="color:white; text-align:center;">CAMBIA TU CONTRASEÑA</h1>

      <mat-form-field class="inputs" appearance="fill" style="width: 30%">
        <mat-label>Ingrese su contraseña actual</mat-label>
        <input [type]="hide3 ? 'password' : 'text'" formControlName="pwdold" id="@" matInput required />
        <button type="button" style="border: none; border-radius: 50%;" mat-icon-button matSuffix (click)="hide3 = !hide3"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
          <mat-icon>{{ hide3 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="frmDatos.invalid">
          No deje el campo vacío</mat-error>
      </mat-form-field>



      <mat-form-field appearance="fill" style="width: 30%;margin-right: 20px;">

        <mat-label>Ingrese su nueva contraseña</mat-label>
        <input [type]="hide ? 'password' : 'text'" formControlName="pwd1" id="@" matInput required />
        <button style="margin-top: 5px;"type="button" style="border: none; border-radius: 50%;" mat-icon-button matSuffix (click)="hide = !hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="frmDatos.invalid">
          No deje el campo vacío</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width:30%">
        <mat-label>Reingrese la nueva contraseña</mat-label>
        <input style="margin-top: 5px;"[type]="hide2 ? 'password' : 'text'" formControlName="pwd2" matInput required />
        <button type="button" style="border: none; border-radius: 50%;" mat-icon-button matSuffix (click)="hide2 = !hide2"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
          <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="frmDatos.invalid">No deje el campo vacío</mat-error>

      </mat-form-field>


      <ul class="consejos">
        <div class="content section-heading-4">
          <h2>Requisitos para la contraseña</h2>
        </div>
        <li>1. Deberá de contener una longitud mínima de 8 caracteres</li>
      </ul>
    </div>

    <div class="btn-group mb-3">
      <button type="submit" class="btn btn-primary"(click)="submit()">Guardar Datos</button>
      <button (click)="Limpiar()" class="btn btn-warning">Limpiar</button>
    </div>
    <br />
  </form>
</div>
