<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Log in</h1>
        <button type="button" class="btn-close btn-close-white" id="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p> Bienvenido al himalaya </p>

        <form [formGroup]="frmLogin" (ngSubmit)="submit()">
          <div class="inputs">
            <p> Correo electrónico </p>
            <input type="text" name="" id="user" formControlName="Correo">
          </div>
          <div class="inputs pass">
              <p> Contraseña </p>
              <input [type]="hidepass2 ? 'password':'text'" name="" id="pass" formControlName="Pass">
              <button type="button" style="border: none;width: 25px;height: 25px; border-radius: 50%;" mat-icon-button matSuffix (click)="hidepass2 = !hidepass2"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidepass2">
              <mat-icon>{{ hidepass2 ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submit()">LogIn</button>
      </div>

    </div>

</div>
