<div class="container" data-aos="fade-up" #Gestion>
  <h2>Gestion de Categorías</h2>
  <div  class="mat-elevation-z8" style="background:white;margin:0 auto;height: 80px;">
    <div class="example-container " style="font-size:16px"  appearance="fill">
      <mat-form-field class="example-full-width"appearance="fill" style="width: 60%;float: left; margin: 10px;">
        <mat-label>Buscar Categoría</mat-label>

        <input type="search"     matInput placeholder="Ingrese una Palabra"    (keyup) ="applyFilter($event)"  required>
        <mat-icon matPrefix>search</mat-icon>


    </mat-form-field>

     <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-cat" style="float:right;margin-top: 25px;margin-right: 125px;"> <mat-icon style="vertical-align:middle;">add</mat-icon>Agregar categoría nueva</button>

      <br>
    <br>
    </div>

  </div>

<div  *ngIf="flag" >
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3" >

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let items">{{items.ID_Categoria}}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
      <td mat-cell *matCellDef="let items">{{items.Nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="estatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus</th>
      <td mat-cell *matCellDef="let items">{{items.Estatus}}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
  <td mat-cell *matCellDef="let items"><button class="btn btn-warning"(click)="ChStatus(items)">Estatus<mat-icon>thumbs_up_down</mat-icon></button>

  </td>
    </ng-container>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        No hay Datos
      </td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator   [pageSizeOptions]="[5,10, 20,40]" showFirstLastButtons #paginator ></mat-paginator>
</div>

</div>

<div class="modal fade" id="add-cat" tabindex="-1" aria-hidden="true">
  <app-modal-addcategoria></app-modal-addcategoria>
</div>
