.reproductor {

    display: flex;
    flex-direction: column;

    padding-top: 10px;
    margin-top: 5px;

    border-top: 1px solid var(--default-font-color);

}

.img_conteiner {
    position: relative;
}

.musica_img{

    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

    border-radius: 1rem;
    max-width: auto;
    max-height: auto    ;

}

.img_conteiner:hover .musica_img {

    opacity: 0.3;

}

.img_conteiner:hover .button_player{

    opacity: 1;

}


.button_player {

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.btns {

    display: flex;
    flex-direction: row;

}

.btn_icon {

    background: none;
    color: var(--secundary-color);
    border: none;

    font-size: 2rem;

}

.img_btn {

    background: none;
    color: var(--secundary-color);
    border: none;

    font-size: 3.5rem;

}