.playList-Conteiner {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13vw, 1fr));

}

.playList {

    min-height: 30vh;

    display: flex;
    flex-direction: column;

    background-color: #1d1f29;
    border-radius: 0.5rem;
    margin: 0.6rem;
    padding: 0.7rem;

}

.playList:hover {

    background-color: #303240;

}

.img_conteiner {
    position: relative;
    display: flex;
}

.musica_img{

    width: 100%;
    height: 20vh;
    border-radius: 0.5rem;

    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.img_conteiner:hover .musica_img {

    opacity: 0.3;

}

.img_conteiner:hover .button_player{

    opacity: 1;

}

.button_player {

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.new {
    position: relative;
    display: flex;
    background-color: #303240;
}

.new:hover {

    opacity: 0.8;

}

.new_playlist{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img_btn {

    background: none;
    color: var(--default-font-color);
    border: none;

    font-size: 3.5rem;

}

.img_btn:hover {

    color: var(--secundary-color);

}

.info_playlist {

    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-left: 7px;

}

.playlist_name {

    color: var(--default-font-color);
    font-weight: 200;
    font-size: large;

    margin: 0;
}

.playlist_creator {

    color: #303240;
    font-size: medium;

    margin: 0;
    margin-top: 4px;
    
}

.playList:hover .playlist_creator {

    color: #1d1f29;

}