.playList-Conteiner {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13vw, 1fr));

}

.playList {

    min-height: 30vh;

    display: flex;
    flex-direction: column;

    background-color: #1d1f29;
    border-radius: 0.5rem;
    margin: 0.6rem;
    padding: 0.7rem;

}

.playList:hover {

    background-color: #303240;

}

.img_conteiner {
    position: relative;
    display: flex;
}

.musica_img{

    width: 100%;
    height: 20vh;
    border-radius: 0.5rem;

    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.img_conteiner:hover .musica_img {

    opacity: 0.3;

}

.img_conteiner:hover .button_player{

    opacity: 1;

}

.button_player {

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.new {
    position: relative;
    display: flex;
    background-color: #303240;
}

.new:hover {

    opacity: 0.8;

}

.new_playlist{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img_btn {

    background: none;
    color: var(--default-font-color);
    border: none;

    font-size: 3.5rem;

}

.img_btn:hover {

    color: var(--secundary-color);

}

.info_playlist {

    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-left: 7px;

}

.playlist_name {

    color: var(--default-font-color);
    font-weight: 200;
    font-size: large;

    margin: 0;
}

.playlist_creator {

    color: var(--default-font-color);
    font-size: medium;

    margin: 0;
    margin-top: 10px;
    
}

.playList:hover .playlist_creator {

    color: #51525a;

}

.tittle {

    color: white;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 0.7rem;

}

.offcanvas{
    background-color: var(--back-color);
    color: var(--default-font-color);
    --bs-offcanvas-width: 500px !important;
}

.header {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    position: relative;
    align-items: flex-start;
    gap: 10px;

}

.btn-close{

    position: absolute;
    right: 1rem;

}

.playlist-tittle {

    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    gap: 10px;

}

.img_album{

    height: 20vh;
    width: 20vh;
    display: block;
    border-radius: 0.5rem;

}

h1, h4 {
    margin: 0;
}

.playlist-data{

    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 20px;

}

.playlist-autor {

    font-size: 1rem;

}

.offcanvas-title {

    font-size: 3rem;
    font-weight: bolder;

}

.offcanvas-body{

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    padding: 0 !important;

}

.music_playlist{

    font-size: 1rem;

}

.music_list {

    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.music_list:hover {

    background-color: var(--main-color);

}

.music_list:hover .play-song{
    opacity: 1;
}

.music_list:hover .button_container p{
    opacity: 0;
}

.button_container{

    display: flex;
    position: relative;

}

.button_container p{
    margin: 0;
}

.play-song{

    position: absolute;

    background: none;
    color: var(--default-font-color);
    border: none;
    opacity: 0;

    font-size: 1.5rem;

}

.img_music_list{

    width: 8vh;
    height: 8vh;
    border-radius: 0.5rem;

}