<div *ngIf="this.PlayLists?.length">

    <h1 class="tittle"> Playlist </h1>

    <div class="playList-Conteiner">
        
        <div class="playList new">
            <div class="new_playlist">
                <button class="img_btn" data-bs-toggle="modal" data-bs-target="#add-album"> <i class="bi bi-plus-circle"></i> </button>
            </div>
        </div>


        <div class="playList" *ngFor="let playlist of PlayLists" (click)="ShowMusic(playlist.ID_Album)" data-bs-toggle="offcanvas" data-bs-target="#play-list-selected" aria-controls="play-list-selected">
            <div class="img_conteiner">
                <img class="musica_img img-fluid" src = "{{ playlist.Img_Path }}">
        
                <div class="button_player">
                    <button (click)="SelectPlayList(playlist.ID_Album)" class="img_btn"> <i class="bi bi-play-circle"></i> </button>
                </div>
            </div>

            <div class="info_playlist">
                <p class="playlist_name" > {{ playlist.Nombre_Album }} </p>
                <p class="playlist_creator">By {{ playlist.Nombre_Usuario }} </p>
            </div>
        </div >

    </div>    

</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="play-list-selected" aria-labelledby="play-list-selected">
    <div class="offcanvas-header header" *ngIf="Id_Album">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <div class="playlist-tittle">
            <img class="img_album" [src] = "  PlayLists[aux].Img_Path  ">

            <div class="playlist-data">
                <h1 class="offcanvas-title"  id="offcanvasRightLabel"> {{ PlayLists[aux].Nombre_Album }} </h1>
                <h4 class="playlist-autor"> <b> {{ PlayLists[aux].Nombre_Usuario }} </b>  <i class="bi bi-dot"></i> {{ files.length }} Canciones  </h4>
            </div>

        </div>

    </div>
    <div class="offcanvas-body music_playlist" *ngIf="Id_Album">
      
        <div class="music_playlist" *ngFor="let file of files; let i = index">

            <div class="music_list">
                <div class="button_container">
                    <p> {{ i + 1 }} </p>
                    <button (click)="SelectSong(Id_Album, i)" class="play-song"> <i class="bi bi-play-fill"></i> </button>
                </div>

                <img class="img_music_list" [src]="  file.Img_Path  ">

                <p> {{ file.Nombre }} </p>

                <button class="delete_btn" (click)="Delete_PlayList( file.ID_Musica, Id_Album )" *ngIf="aux != 0"> <i class="bi bi-trash-fill"></i> </button>

            </div>
            
        </div>

    </div>
</div>

<div class="modal fade" id="add-album" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <add-album></add-album>

</div>
