.modal-content{
  background-color: var(--main-color) !important;
  color: var(--default-font-color);
}

.btn-primary{
  background-color: var(--secundary-color);
  border-color: var(--secundary-color);
}

.btn-primary:hover{
  background-color: rgba(154, 50, 239, 0.85);
  border-color: rgba(154, 50, 239, 0.85);
}

.modal-body p{
  color: #76777f;
}


.pass{
  margin-top: 1rem;
}

.inputs p{
  color: #b2b6be;
  margin: 0;
}

.inputs input{
  font-size: 15px;
  padding: .3rem .5rem     ;
  border: none;
  border-radius: 24px;
  background-color: var(--back-color);
  outline: none;
  min-width: 25em;
  color: var(--default-font-color);

  transition-duration: .2s;
}

.usuario-publico{
  width: 100%;
}

.inputs input:focus, .inputs input:hover{
  background: none;
  border: 1px solid var(--secundary-color);
}
.avatar
{

  width: 60px;
  height:60px;
  border-radius: 50%;
  margin-left: 3px;
margin-top:5px;
}
.nombreusr{
  margin-left: 3px;
}
.comentarioxd{
  font-size: 18px;
  color: white !important;
  text-align: justify;
  margin-left: 3px;
  margin-bottom: 3px;
}

.scroll{
  overflow-y: hidden;
}

.comment-separado{
  border: 1px solid rgba(154, 50, 239, 0.85);
  border-radius: 10px;
  margin-bottom:5px;
  width: 90%;
}

.modal-footer
{
  justify-content:flex-start;
}
