<div class="modal-dialog modal-dialog-centered scroll">
  <div class="modal-content">

    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">¿Qué opina la gente de esta publicación?</h1>
      <button type="button" class="btn-close btn-close-white" id="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">

      <div class="comentarios">
        <div class="publicacion-realizada" *ngFor="let data of comentarios">
          <div class="comment-separado">
              <div >
                  <img src={{data.Foto_Perfil}} alt="img"class="avatar">
              </div>
              <div class="nombreusr">
                  <h4>{{data.Nombre_Usuario}} - {{data.fecha_comentario}}</h4>
              </div>
              <p class="comentarioxd">{{data.Comentario}}</p>
          </div>

      </div>

      </div>


    </div>

    <div class="modal-footer">
      <form [formGroup]="frmcoment">
      <label for="user" style="margin-right:40px;">Comparte tu opinión con todos los demás</label>
      <input type="text" formControlName="comentario" style="border-radius:10px;width:80%" placeholder="Agrega un comentario aquí">
      <button type="button" (click)="valid()" class="btn btn-primary" ><i class="bi bi-send-fill"></i></button>
    </form>
    </div>

  </div>

</div>

