<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" style="margin-top:30px;">Únete a Soundclon</h1>
        <button type="button" class="btn-close" style="background-color:white;" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="frmsign" (ngSubmit)="submit()">
          <div class="inputs">
            <p> Ingresa un correo electrónico </p>
            <input type="email" name="" id="user" formControlName="correo">
            <br>
            <p> Ingresa un nombre de usuario </p>
            <input type="text" name="" id="user" formControlName="usuario">
            <br>
            <p> Cuéntanos un poco sobre ti </p>
            <input type="text" name="" id="user" formControlName="descripcion" placeholder="Agrega una breve descripción sobre ti">
          </div>
          <div class="inputs pass">
              <p> Contraseña </p>
              <input [type]="hidepass ? 'password':'text'" name="" id="@" formControlName="pass">
              <button type="button" style="border: none;width: 25px;height: 25px; border-radius: 50%;" mat-icon-button matSuffix (click)="hidepass = !hidepass"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidepass">
              
            </button>
              <p> Confirmar Contraseña </p>
              <input [type]="hidepass2 ? 'password':'text'" name="" id="@" formControlName="pass2">
              <button type="button" style="border: none;width: 25px;height: 25px; border-radius: 50%;" mat-icon-button matSuffix (click)="hidepass2 = !hidepass2"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidepass2">
              <mat-icon>{{ hidepass2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary"(click)="submit()">Registrarte</button>
      </div>
    </div>
</div>

