<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">

    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">REGISTRO DE CATEGORÍA NUEVA</h1>
      <button type="button" class="btn-close btn-close-white" id="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <form [formGroup]="frmaddcat">
        <div class="inputs">
          <b> Nombre de la categoría a registrar</b>
          <input type="text" formControlName="nombre">
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="agregarcat()" >Registrar categoría</button>
    </div>

  </div>

</div>

